body,
html {
  height: 100%;
}

body {
  margin: 0;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: table-cell;
  vertical-align: middle;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: bold;
  margin: 0;
}

.day-names {
  font-size: 20px;
}

.calendar {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(7, minmax(8px, 1fr));
  border-bottom: 2px solid #e7e7e7;
  border-left: 2px solid #e7e7e7;
}

.borderless {
  border: 0;
}

.calendar h5 {
  text-align: center;
  color: #3d3d3d;
}

.day {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  cursor: pointer;
}

.task-day {
  display: flex;
  gap: 10px;
}

.tasks {
  flex: 1;
  flex-direction: column;
  font-size: 10px;
}

.task-form label {
  font-weight: bold;
  font-size: 2.5rem;
}

.task-form input[type=text] {
  font-size: 2rem;
  border: 1px solid rgb(127, 92, 92);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 10px;
}

.task-form>div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form>div:nth-child(5) {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
}

.selected-day {
  background-color: #79ae98;
}

.current-day {
  color: black;
}

.nav {
  flex: 0;
  padding-top: 10px;
  display: inline-flex;
  align-items: center;
}

.button svg {
  width: 15px;
  height: auto;
  display: flex;
}

.button {
  background-color: #79ae98;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}



.button-orange:hover {
  background-color: #ffae00;
  color: white;
}

.button-green {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button-green:hover {
  background-color: #4CAF50;
  color: white;
}

.button-blue {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button-blue:hover {
  background-color: #008CBA;
  color: white;
}

.button-red {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button-red:hover {
  background-color: #f44336;
  color: white;
}

.add-button {
  height: 20px;
  border-radius: 5px;
  margin: 2px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  background-color: seashell;
  border-radius: 40px;
}

.error {
  box-sizing: border-box;
  padding: 15px;
  color: white;
  background-color: #ef1a0b;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

input::placeholder {
  color: #e4e4e4
}